h1{
    color: royalblue;
    background-color: brown;
    font-size: 85px
}

h2{
    color:aqua
}
strong{
    background-color: coral;
}
body{
    background: url("cat.jpg");
    background-repeat: no-repeat;
}
.division{
    color: bisque;
    
}